<ion-header>
  <ion-toolbar>
    <ion-title><ion-button color="danger" [routerLink]="['/home']" routerDirection=backward>Home</ion-button></ion-title>
    <img src="" width="150" >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="danger" [routerLink]="['/home']" routerDirection=backward>Home</ion-button>
  <br>
  <ion-button color="danger" [routerLink]="['/page1']" routerDirection=forward>Riders</ion-button>
  <br>
  <ion-button color="danger" [routerLink]="['/page2']" routerDirection=forward>Social Media</ion-button>
  <br>
  <ion-button color="danger" [routerLink]="['/page3']" routerDirection=backward>My Rider Profile</ion-button>
  <br>
  <ion-button color="danger" [routerLink]="['/page4']" routerDirection=forward>Services</ion-button>
  <br>

  <h1>Rider Profile</h1>
  <h3>The team I'd love to race for would definitely be Honda </h3>
  <h3>My favourite track is </h3>
</ion-content>
