<ion-header>
  <ion-toolbar>
    <ion-title><ion-button color="danger" [routerLink]="['/home']" routerDirection=backward>Home</ion-button></ion-title>
  <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/moto-gp-marc-marquez-fabio-quartararo-1645612042.jpg?resize=480:*" width="" >
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Keep up to date with MotoGP!</h2>
  <ion-icon name="logo-facebook"></ion-icon> <a href="https://www.facebook.com/MotoGP">Facebook</a>
  <br>
  <ion-icon name="logo-twitter"></ion-icon> <a href="https://twitter.com/MotoGP">Twitter</a>
  <br>
  <ion-icon name="logo-youtube"></ion-icon> <a href="https://www.youtube.com/c/motogp">Youtube</a>
  <br>
  <ion-icon name="logo-instagram"></ion-icon> <a href="https://www.instagram.com/MotoGP">Instagram</a>
  <br>

  

  <br>
  <ion-button color="danger" [routerLink]="['/page1']" routerDirection=forward>Riders</ion-button>
  <br>
  <ion-button color="danger" [routerLink]="['/page3']" routerDirection=forward>My Rider Profile</ion-button>
  <br>
  <ion-button color="danger" [routerLink]="['/page4']" routerDirection=forward>Services</ion-button>
  <br>
</ion-content>
