<ion-header>
  <ion-toolbar>
    <ion-title><ion-button color="danger" [routerLink]="['/home']" routerDirection=backward>Home</ion-button></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://m.gpone.com/sites/default/files/images/2022/article/foto/03/MotoGP/01-Qatar/motogp-peace-1646337659.jpeg">
 
 <ion-list>
   <ion-item>
     <h1>Moto GP riders this season</h1>
   </ion-item>
   <ion-item>
     <ion-label>
     <h2>1. Mark Márquez</h2>
     <h2>2. Fabio Quartararo</h2>
     <h2>3. Alexis Espargaró</h2>
     <h2>4. Enea Bastianini</h2>
     <h2>5. Álex Rins</h2>
     <h2>6. Francesco Bagnaia</h2>
     <h2>7. Joan Mir</h2>
     <h2>8. Johann Zarco</h2>
     <h2>9. Brad Binder</h2>
     <h2>10. Miguel Oliveira</h2>
     <h2>11. Jack Miller</h2>
     <h2>12. Pol Espargaró</h2>
     <h2>13. Jorge Martín</h2>
     <h2>14. Maverick Viñales</h2>
     <h2>15. Takaaki Nakagami</h2>
     <h2>16. Franco Morbidelli</h2>
     <h2>17. Álex Márquez</h2>
     <h2>18. Marco Bezzecchi</h2>
     <h2>19. Luca Marini</h2>
     <h2>20. Andrea Dovizioso</h2>
     <h2>21. Darryn Binder</h2>
     <h2>22. Remy Gardner</h2>
     <h2>23. Raúl Fernández</h2>
     <h2>24. Fabio Di Giannantonio</h2>
     <h2>25. Lorenzo Savadori</h2>
     <h2>25. Stefan Bradl</h2>
   </ion-label>
   </ion-item>
 </ion-list>
   <br>
   <ion-button color="danger" [routerLink]="['/page2']" routerDirection=forward>Social Media</ion-button>
   <br>
   <ion-button color="danger" [routerLink]="['/page3']" routerDirection=forward>Team Schedule</ion-button>
   <br>
   <ion-button color="danger" [routerLink]="['/page4']" routerDirection=forward>Services</ion-button>
 
</ion-content>
