<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="https://images.metadata.sky.com/pd-image/cc2823f3-85b3-4135-907d-9319b69d16b2/16-9" width="320" height="200">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar></ion-toolbar>
  </ion-header>
  <h1>Moto GP</h1>
  <p>is one of the most popular motorsport in the world.</p>
  <p>It features 12 teams, alongside 24 riders competing both for the teams,
     but also for their own glory in the respective constructors 
    championship as well as the Rider championship.</p>

  <ion-button color="danger" [routerLink]="['/page1']" routerDirection=forward>Riders</ion-button>
  <br>
  <ion-button color="danger" [routerLink]="['/page2']" routerDirection=forward>Social Media</ion-button>
  <br>
  <ion-button color="danger" [routerLink]="['/page3']" routerDirection=forward>My Rider Profile</ion-button>
  <br>
  <ion-button color="danger" [routerLink]="['/page4']" routerDirection=forward>Services</ion-button>
  <br>

</ion-content>